body {
  background-color: #333;
}

#title {
  text-align: center;
  color: white;
  font-size: 40px;
}

#now-playing {
  color: white;
  font-size: 24px;
  text-align: left;
  padding: 16px;
}

/*-----------------
movie poster grid
-----------------*/
#movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  gap: 40px;
}

.card {
  background: linear-gradient(to left bottom, rgba(198, 204, 206, 0.6), rgba(105, 108, 109, 0.3));
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.poster {
  width: 250px;
  height: 250px;
  margin: 10px;
  border: 3px solid white;
  border-radius: 10px;
  justify-self: center;
  align-self: center;
}

.info {
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  margin: 10px;
  margin-top: 0;
  background-color: transparent;
  color: white;
}

/* @media screen and (max-width: 1070px) {}*/

.button-wrapper {
  width: 100%;
  text-align: center;
}

#load-btn {
  text-align: center;
  background-color: lightsalmon;
  color: black;
  border-radius: 10px;
  width: 150px;
  height: 35px;
  margin: 16px;
  font-size: 20px;
  font-weight: bold;
}

.hidden {
  display: none;
}
